.titlecard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

hgroup {
  width: 416px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-family: Oswald;
  font-weight: 700;
  color: #4a587b;
  text-transform: uppercase;
  margin-bottom: 2.25rem;
}

p {
  font-size: 1.125rem;
  font-family: Roboto;
  font-weight: 400;
  color: #2f4858;
  line-height: 1.5rem;
}

#map {
  height: 550px;
}

/* Legend styling */
.legend {
  padding: 0.5rem;
  font-family: Roboto;
  background: white;
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  color: #555;
  width: 40%;
}

h4 {
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  color: #777;
}

.legend p {
  font-size: 0.75rem;
  margin:0.5rem;
  line-height: 0.9rem;
  color: #2f4858;
}

.empty-circle {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: darkgrey;
  margin-left: 0.5rem;
  display: inline-block;
}

.orange-square {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #FC8D62;
  display: inline-block;
margin-left: 0.5rem;}

.blue-square {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #8DA0CB;
display: inline-block;
margin-left: 0.5rem;}

.legend-text {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #2f4858;
}

.viewOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 15px;
  cursor: pointer;
}

.order {
  margin-left: 20px;
}

.order p {
  font-size: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.cardbox {
  width: 23%;
  padding: 15px;
  border: 1px solid #4a587b;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-top: 25px;
  transition: all 300ms ease;
}

.cardbox:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cardbox a {
  text-decoration: none;
}


table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 1.125rem;
  font-family: Roboto;
  color: #2f4858;
  width:80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: all 300ms ease;
}

table thead tr {
  background-color: #2f4858;
  color: #ffffff;
}

table, th, td {
  border-bottom: 1px solid;
  border-color: lightgrey;
  vertical-align: middle;
}

td, th {
  text-align: center;
  padding: 15px;
}

/* Giving every other row a different colour */
tr:nth-child(even) {background-color: #f2f2f2;}

tbody tr:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #c1c8cd;
}

/* Solid line after the final row to indicate the table is done */
table tbody tr:last-of-type {
  border-bottom: 2px solid #2f4858;
}

h2 {
  color: #2f4858;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.56rem;
}

h3 {
  color: #2f4858;
  font-family: Roboto;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.cardbox p {
  color: #9e9e9e;
  font-family: Roboto;
  font-size: 0.75rem;
  margin-top: 1rem;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.disable-text {
  color: #e6e6e6;
}

.hide {
  display: none;
}